
<section>
<div class="nuestroModelos" id="usuario">
<h4 class="display-5" style="text-align: center;">{{saludo}} {{usuario}} <br> Bienvenido a la pagina del taller</h4>
<p>Desde esta pagina usted podra reservar los servicios del taller</p>
<p>Su contraseña es {{semiPasswd}}</p>
<p>Usted accedio {{vistas}} {{cantidadVeces}}</p>
<p>Ultimo acceso: {{tiempo}}</p>  
</div> 
<div class="taller--usuario">
    <a href="/salir" >Cerrar sesion</a> 
</div> 
</section>
<script>
    document.getElementById('usuario').scrollIntoView(); 
</script>